@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-content: center;
}

.Home {
  /* 51px is the exact height of the nav bar */
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.m-1 {
  padding: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.wallpaper {
  display: block;
  width: calc(100%);
  height: calc(100vw - 1rem);
  object-fit: cover;
  overflow: hidden;
}
